<% layout('layouts/boilerplate')%>

    <body>
        <div class="row">
            <h1 class="text-center">New Campground</h1>
            <div class="col-6 offset-3">
                <form action="/new" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" required name="title">
                        <div class="invalid-feedback">
                            Please give a title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" required name="location">
                        <div class="invalid-feedback">
                            Please choose a location.
                        </div>
                    </div>
                    <div class="mb-3">
                        <!-- <label class="form-label" for="image">Image Url</label>
                        <input class="form-control" type="text" id="image" required name="image">
                        <div class="invalid-feedback">
                            Please provide URL for the image.
                        </div> -->
                        <div class="mb-3">
                            <label class="form-label" for="image">Upload Image</label>
                            <input class="form-control" type="file" id="image" required name="image" multiple>
                            <div class="invalid-feedback">
                                Please upload some image.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Campground Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                    aria-describedby="price-label" required name="price">
                                <div class="invalid-feedback">
                                    Please enter the price.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" id="description" required
                                name="description"></textarea>
                            <div class="invalid-feedback">
                                Please input some description.
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Add Campground</button>
                        </div>
                </form>
                <a href="/">Go Back to All</a>
            </div>
        </div>

    </body>